In [1]:
import pandas as pd
# Carregando os datasets
df_2021 = pd.read_csv("./Dados Criminais 2021 - 2025/dados_2021.csv", sep=";", encoding="latin1", low_memory=False)
df_2022 = pd.read_csv("./Dados Criminais 2021 - 2025/dados_2022.csv", sep=";", encoding="latin1", low_memory=False)
df_2023 = pd.read_csv("./Dados Criminais 2021 - 2025/dados_2023.csv", sep=";", encoding="latin1", low_memory=False)
df_2024 = pd.read_csv("./Dados Criminais 2021 - 2025/dados_2024.csv", sep=";", encoding="latin1", low_memory=False)
df_2025 = pd.read_csv("./Dados Criminais 2021 - 2025/dados_2025.csv", sep=";", encoding="latin1", low_memory=False)

print("Datasets carregados:")
print("2021 ->", df_2021.shape, "linhas e colunas")
print("2022 ->", df_2022.shape, "linhas e colunas")
print("2023 ->", df_2023.shape, "linhas e colunas")
print("2024 ->", df_2024.shape, "linhas e colunas")
print("2025 ->", df_2025.shape, "linhas e colunas")

df_2022.head()

Datasets carregados:
2021 -> (166150, 136) linhas e colunas
2022 -> (599648, 118) linhas e colunas
2023 -> (806945, 124) linhas e colunas
2024 -> (758173, 127) linhas e colunas
2025 -> (504339, 136) linhas e colunas

,Sequência,Data Fato,Hora Fato,Grupo Fato,Tipo Enquadramento,Tipo Fato,Municipio Fato,Local Fato,Bairro,Quantidade Vítimas,...,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117
0,1,01/01/2022,00:01:00,CRIMES,OUTROS CRIMES,Consumado,BARRA DO RIBEIRO,OUTROS,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,01/01/2022,00:01:00,CRIMES,OUTROS CRIMES,Consumado,NOVO HAMBURGO,OUTROS,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,01/01/2022,00:01:00,CRIMES,INJURIA,Consumado,PORTO ALEGRE,RESIDENCIA,Santo Antônio,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,01/01/2022,00:01:00,CRIMES,ESTUPRO DE VULNERAVEL,Consumado,PORTO ALEGRE,RESIDENCIA,Partenon,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,01/01/2022,00:01:00,CRIMES,ESTELIONATO,Consumado,PROGRESSO,OUTROS,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Concatenar em um único dataframe
df_crimes = pd.concat([df_2021, df_2022, df_2023, df_2024, df_2025], ignore_index=True)
print("Dataframe consolidado:", df_crimes.shape)
df_crimes.head()

Dataframe consolidado: (2835255, 136)

,Sequência,Data Fato,Hora Fato,Grupo Fato,Tipo Enquadramento,Tipo Fato,Municipio Fato,Local Fato,Bairro,Quantidade Vítimas,...,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135
0,1,01/10/2021,00:01:00,CRIMES,INCENDIO DOLOSO,Consumado,NOVA ALVORADA,RESIDENCIA,Jardim Bela Vista,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,01/10/2021,00:01:00,CRIMES,VIOLENCIA PSICOLOGICA CONTRA MULHER ART 147B,Consumado,SANTA CRUZ DO SUL,RESIDENCIA,Santa Vitória,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,01/10/2021,00:01:00,CRIMES,FURTO SIMPLES EM RESIDENCIA,Consumado,SANTA ROSA,RESIDENCIA,Cruzeiro,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,01/10/2021,00:01:00,CRIMES,IMPORTUNACAO SEXUAL,Consumado,RIO GRANDE,VIA PUBLICA,Vila Santa Tereza,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,01/10/2021,00:01:00,CRIMES,OUTRAS FRAUDES,Consumado,PORTO ALEGRE,VIA PUBLICA,Azenha,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Renomear colunas principais para o padrão snake_case com underscore
df_crimes.rename(columns={
    "Sequência": "sequencia",
    "Data Fato": "data_fato", 
    "Hora Fato": "hora_fato",
    "Grupo Fato": "grupo_fato",
    "Tipo Enquadramento": "tipo_enquadramento",
    "Tipo Fato": "tipo_fato",
    "Municipio Fato": "municipio_fato",
    "Local Fato": "local_fato",
    "Bairro": "bairro",
    "Quantidade Vítimas": "quantidade_vitimas",
    "Idade Vítima": "idade_vitima",
    "Sexo Vítima": "sexo_vitma",
    "Cor Vítima": "cor_vitma",
}, inplace=True)
df_crimes

C:\Users\Eduardo\AppData\Local\Temp\ipykernel_23596\1629581690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crimes.rename(columns={

,sequencia,data_fato,hora_fato,grupo_fato,tipo_enquadramento,tipo_fato,municipio_fato,local_fato,bairro,quantidade_vitimas,idade_vitima,sexo_vitma,cor_vitma,...
0,1,01/10/2021,00:01:00,CRIMES,INCENDIO DOLOSO,Consumado,NOVA ALVORADA,RESIDENCIA,Jardim Bela Vista,1,20.0,Masculino,Branca,NaN
1,2,01/10/2021,00:01:00,CRIMES,VIOLENCIA PSICOLOGICA CONTRA MULHER ART 147B,Consumado,SANTA CRUZ DO SUL,RESIDENCIA,Santa Vitória,1,66.0,Feminino,Branca,NaN
2,3,01/10/2021,00:01:00,CRIMES,FURTO SIMPLES EM RESIDENCIA,Consumado,SANTA ROSA,RESIDENCIA,Cruzeiro,1,49.0,Feminino,Branca,NaN
3,4,01/10/2021,00:01:00,CRIMES,IMPORTUNACAO SEXUAL,Consumado,RIO GRANDE,VIA PUBLICA,Vila Santa Tereza,1,42.0,Feminino,Branca,NaN
4,5,01/10/2021,00:01:00,CRIMES,OUTRAS FRAUDES,Consumado,PORTO ALEGRE,VIA PUBLICA,Azenha,1,51.0,Feminino,Parda,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835250,504335,31/08/2025,23:50:00,CRIMES,DANO,Consumado,CAPAO DA CANOA,RESIDENCIA,Capao Novo/05,1,27.0,Feminino,Branca,NaN
2835251,504336,31/08/2025,23:50:00,CRIMES,FURTO DE TELEFONE CELULAR,Consumado,ESTEIO,OUTROS,NaN,1,43.0,Feminino,Branca,NaN
2835252,504337,31/08/2025,23:55:00,CRIMES,AMEACA,Consumado,PORTO ALEGRE,RESIDENCIA,Medianeira,1,53.0,Feminino,Branca,NaN
2835253,504338,31/08/2025,23:56:00,CRIMES,ESTELIONATO,Consumado,VIAMAO,RESIDENCIA,Sítio São José,0,NaN,NaN,NaN,NaN
2835254,504339,31/08/2025,23:59:00,CRIMES,FURTO/ARROMBAMENTO DE RESIDENCIA,Consumado,BARRA DO RIBEIRO,OUTROS,NaN,1,57.0,Masculino,Branca,NaN

In [13]:
# Remover colunas 'unnamed' geradas por excesso de separadores ou células vazias
df_crimes = df_crimes.loc[:, ~df_crimes.columns.str.lower().str.startswith('unnamed')]

In [14]:
df_crimes.head()

,sequencia,data_fato,hora_fato,grupo_fato,tipo_enquadramento,tipo_fato,municipio_fato,local_fato,bairro,quantidade_vitimas,idade_vitima,sexo_vitma,cor_vitma,...
0,1,01/10/2021,00:01:00,CRIMES,INCENDIO DOLOSO,Consumado,NOVA ALVORADA,RESIDENCIA,Jardim Bela Vista,1,20.0,Masculino,Branca,NaN
1,2,01/10/2021,00:01:00,CRIMES,VIOLENCIA PSICOLOGICA CONTRA MULHER ART 147B,Consumado,SANTA CRUZ DO SUL,RESIDENCIA,Santa Vitória,1,66.0,Feminino,Branca,NaN
2,3,01/10/2021,00:01:00,CRIMES,FURTO SIMPLES EM RESIDENCIA,Consumado,SANTA ROSA,RESIDENCIA,Cruzeiro,1,49.0,Feminino,Branca,NaN
3,4,01/10/2021,00:01:00,CRIMES,IMPORTUNACAO SEXUAL,Consumado,RIO GRANDE,VIA PUBLICA,Vila Santa Tereza,1,42.0,Feminino,Branca,NaN
4,5,01/10/2021,00:01:00,CRIMES,OUTRAS FRAUDES,Consumado,PORTO ALEGRE,VIA PUBLICA,Azenha,1,51.0,Feminino,Parda,NaN

In [15]:
df_pf = df_crimes[df_crimes['municipio_fato'].str.upper() == 'PASSO FUNDO']
df_pf.head()

,sequencia,data_fato,hora_fato,grupo_fato,tipo_enquadramento,tipo_fato,municipio_fato,local_fato,bairro,quantidade_vitimas,idade_vitima,sexo_vitma,cor_vitma,...
6,7,01/10/2021,00:01:00,CRIMES,FURTO ABIGEATO,Consumado,PASSO FUNDO,OUTROS,ROD TRANSBRASILIANA,1,58.0,Masculino,Branca,NaN
61,65,01/10/2021,01:10:00,CRIMES,ENTORPECENTES - TRAFICO,Consumado,PASSO FUNDO,RESIDENCIA,Vila Popular,0,NaN,NaN,NaN,NaN
67,71,01/10/2021,01:19:00,CONTRAVENCOES,VIAS DE FATO,Consumado,PASSO FUNDO,RESIDENCIA,RODRIGUEZ,1,48.0,Feminino,Branca,NaN
150,162,01/10/2021,03:30:09,CRIMES,FURTO DE DOCUMENTO,Consumado,PASSO FUNDO,OUTROS,Centro,1,20.0,Feminino,Sem informação,NaN
170,188,01/10/2021,04:14:00,CONTRAVENCOES,PERTURBACAO DO TRABALHO OU DO SOSSEGO ALHEIOS,Consumado,PASSO FUNDO,RESIDENCIA,Vila Planaltina,0,NaN,NaN,NaN,NaN

In [16]:
df_pf.shape

(59124, 14)

In [17]:
# Substituir valores NaN pela média da coluna e remover duplicatas
df_pf = df_pf.apply(lambda col: col.fillna(col.mean()) if col.dtype in ['float64', 'int64'] else col)
df_pf = df_pf.drop_duplicates()
df_pf.head()

,sequencia,data_fato,hora_fato,grupo_fato,tipo_enquadramento,tipo_fato,municipio_fato,local_fato,bairro,quantidade_vitimas,idade_vitima,sexo_vitma,cor_vitma,...
6,7,01/10/2021,00:01:00,CRIMES,FURTO ABIGEATO,Consumado,PASSO FUNDO,OUTROS,ROD TRANSBRASILIANA,1,58.000000,Masculino,Branca,NaN
61,65,01/10/2021,01:10:00,CRIMES,ENTORPECENTES - TRAFICO,Consumado,PASSO FUNDO,RESIDENCIA,Vila Popular,0,39.584217,NaN,NaN,NaN
67,71,01/10/2021,01:19:00,CONTRAVENCOES,VIAS DE FATO,Consumado,PASSO FUNDO,RESIDENCIA,RODRIGUEZ,1,48.000000,Feminino,Branca,NaN
150,162,01/10/2021,03:30:09,CRIMES,FURTO DE DOCUMENTO,Consumado,PASSO FUNDO,OUTROS,Centro,1,20.000000,Feminino,Sem informação,NaN
170,188,01/10/2021,04:14:00,CONTRAVENCOES,PERTURBACAO DO TRABALHO OU DO SOSSEGO ALHEIOS,Consumado,PASSO FUNDO,RESIDENCIA,Vila Planaltina,0,39.584217,NaN,NaN,NaN

In [18]:
df_pf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59124 entries, 6 to 2835241
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sequencia           59124 non-null  object
 1   data_fato           59124 non-null  object
 2   hora_fato           59124 non-null  object
 3   grupo_fato          59124 non-null  object
 4   tipo_enquadramento  59124 non-null  object
 5   tipo_fato           59124 non-null  object
 6   municipio_fato      59124 non-null  object
 7   local_fato          59124 non-null  object
 8   bairro              52577 non-null  object
 9   quantidade_vitimas  59124 non-null  object
 10  idade_vitima        59124 non-null  float64
 11  sexo_vitma          51322 non-null  object
 12  cor_vitma           51393 non-null  object
 13  ...                 4339 non-null   object
dtypes: float64(1), object(13)
memory usage: 6.8+ MB

In [ ]:
nao informou remove se nao calcular media ou knn da coluna, talvez uma mediana